<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./vue.js"></script>    
    <title>Biss teste</title>
    <style>
        .bordaLista{
            border:1px solid;
            margin-bottom: 10px;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    

    <div id="app">
        <div>
            <h1>Adicionar paciente</h1>
            <span>Nome: </span><input type="text" id="txtNome"><br>
            <span>Idade: </span><input type="text" id="txtIdade"><br>
            <span>Celular: </span><input type="text" id="txtCelular"><br>
            <span>Plano: </span><input type="text" id="txtPlano"><br>
            <button @click="AddPaciente()">Adicionar</button>

            
            <hr>
            <h5>Ultimo Cadastrado</h5>
            <p v-if="pacientes.length > 0">
                {{ultimoPaciente}}
            </p>
            <p  v-else>Não tem ainda</p>

            <hr>
            <h5>Pacientes Platinum</h5>
           
                <p v-for="p in pacientesOuro">
                   {{p.nome}} 
                </p>

            <hr>
            <table v-if="pacientes.length > 0">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Nome</td>
                        <td>Idade</td>
                        <td>Celular</td>
                        <td>Plano</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(p, key) in pacientes" :key="p.id" >
                      <td>{{p.id}}</td>
                      <td>{{p.nome}}</td>
                      <td>{{p.idade}}</td>
                      <td>{{p.celular}}</td>
                      <td>{{p.plano}}</td>
                    </tr>
                </tbody>
            </table>
            <span v-else>Não existem pacientes cadastrados</span>
        </div>
    </div>
    <script>

        options={
            el:'#app',
            data:{
                pacientes:[]
            },
            methods: {
                AddPaciente(){
                    novoId = this.pacientes.length+1;
                    this.pacientes.push({
                          id:novoId
                        , nome:txtNome.value
                        , idade:txtIdade.value
                        , celular: txtCelular.value 
                        , plano: txtPlano.value
                    })          
                }
            },
            computed:{
                ultimoPaciente(){
                    let key = this.pacientes.length-1
                    let txt = ''
                    let paciente =  this.pacientes[key]
                    txt+='Paciente ' +paciente.nome
                    txt+=', idade ' +paciente.idade    
                    txt+=', plano ' +paciente.plano  
                    
                    return txt.toUpperCase()
                },
                pacientesOuro(){
                    return this.pacientes.filter(item => item.plano.toLowerCase()=='platinum')
                }
            },     
        }

       new Vue(options);
       
    </script> 
</body>
</html>