<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./vue.js"></script>    
    <title>Biss teste</title>
    <style>
        .bordaLista{
            border:1px solid;
            margin-bottom: 10px;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    

    <div id="app">
        <span>Paciente:</span><input type="text" v-model="paciente">
        <br>
        <ul>
            <li v-for="p in lista" >
                {{p.nome}} - {{p.idade}}
            </li>
        </ul>
        <hr>
        {{paciente}}
    </div>
    <script>

        options={
            el:'#app',
            data:{
               paciente:'',
               pacientes:[                   
                   {nome:'Amalia', idade:45},
                   {nome:'Ana', idade:23},
                   {nome:'Andre', idade:54},
                   {nome:'Andrea', idade:54},
                   {nome:'Andrei', idade:54},
                   {nome:'Andreia', idade:54},
                   {nome:'Antonio', idade:18},
                   {nome:'Augusto', idade:34},                   
               ],
               lista:[]
            },
            methods: {
                
            },
            computed:{

            },
            watch:{
                paciente(valorNovo, valorAntigo){
                    this.lista=this.pacientes.filter(p=>p.nome.match(valorNovo))  
                }
            }       
        }

       new Vue(options);
       
    </script> 
</body>
</html>